.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3D0301;
    padding: 200px;
}

.calculator {
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 175px;
    height: 42px;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 5px;
    font-size: 25px;
    border: none; 
    font-weight: bold;
}

.divis_button {
    background-image: url(https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/fallen-leaf.png);
    background-size: cover; 
}

.multipl_button {
    background-image: url(https://i.pinimg.com/736x/9f/e4/41/9fe44193eb2e806e541fca3e4eaddff4.jpg);
    background-size: cover;
}

.addit_button {
    background-image: url(https://i.pinimg.com/736x/63/d3/8d/63d38d8cbba4335a6d28b5e19f67be8d.jpg);
    background-size: cover;
}

.subtract_button {
    background-image: url(https://ih1.redbubble.net/image.4717255553.1419/st,small,507x507-pad,600x600,f8f8f8.jpg);
    background-size: cover;
}

p2 {
    font-weight: bold;
    color: white;
    font-size: 25px;
    margin-bottom: 20px; 
    text-align: center;
}
