.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    background-color: #3D0301;
    padding: 200px; 
}

.calculator {
    flex-direction: column; 
}

input[type="text"] {
    width: 175px;  
    height: 42px;
}

input[type="button"] {
    width: 50px;  
    height: 50px; 
    background-color: white; 
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center; 
    margin: 5px;
    font-size: 25px; 
}

.divis_button {
    background: url(https://t3.ftcdn.net/jpg/09/27/58/02/360_F_927580219_IByr0GpmbTLBFkjg96EBP1VZeRWNTP4b.jpg);
}

.multipl_button {
    background: url(https://cdn-icons-png.flaticon.com/256/43/43165.png);
}

.addit_button {
    background: url(https://cdn-icons-png.flaticon.com/512/32/32339.png);
}

.subtract_button {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYs2b8fTTyKqQF20o6UvHm6bw3MbvRflYJgQ&s);
}
