.divis_button {
    background:url(https://static.thenounproject.com/png/517809-200.png) no-repeat;
}

.multipl_button {
    background:url(https://cdn-icons-png.flaticon.com/256/43/43165.png) no-repeat;
}

.addit_button {
    background:url(https://cdn-icons-png.flaticon.com/512/32/32339.png) no-repeat;
}

.subtract_button {
    background:url(https://www.iconpacks.net/icons/2/free-minus-icon-3108-thumb.png) no-repeat;
}
